<div *ngIf="clothesItem" class="item-container">
    <h2>
        <a href="#" (click)="onBack()">&laquo;Back to Home</a>
    </h2>
    <div class="item-container">
        <ul class="nav nav-tabs">
            <li role="presentation">
                <a href="#" class="active">Edit</a>
            </li>
            <li role="presentation" *ngIf="clothesItem.Id !=0">
                <a href="#" (click)="onItemDetailView(clothesItem)">View</a>
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="item-detail-edit">
                    <h3>{{clothesItem.Description}}</h3>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" name="input-category" required [(ngModel)]="clothesItem.Type" class="form-control" [disabled]="clothesItem.Id != 0">
                            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input [(ngModel)]="clothesItem.Description" name="input-description" class="form-control" placeholder="Insert the description..." />
                    </div>
                    <div class="form-group">
                        <label>Shop Purchased:</label>
                        <input [(ngModel)]="clothesItem.Shop" name="input-shop" class="form-control" placeholder="Where was it purchased from?..." />
                    </div>

                    <div *ngIf="clothesItem.Id == 0" class="commands insert">
                        <input type="button" value="Save" class="btn btn-primary" (click)="onInsert(clothesItem)" />
                        <input type="button" value="Cancel" class="btn btn-default" (click)="onBack()" />
                    </div>
                    <div *ngIf="clothesItem.Id != 0" class="commands update">
                        <input type="button" value="Update" class="btn btn-primary" (click)="onUpdate(clothesItem)" />
                        <input type="button" value="Delete" class="btn btn-danger" (click)="onDelete(clothesItem)" />
                        <input type="button" value="Cancel" class="btn btn-default" (click)="onItemDetailView(clothesItem)" />
                    </div>
                    <div *ngIf="errorMessage != ''">
                        {{errorMessage}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>