<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>History</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table table-hover table-bordered historyTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Top</th>
                        <th>Trousers</th>
                        <th>Shoes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hist of pagedItems"
                        [class.selected]="hist === selectedItem"
                        (click)="onSelect(hist)">
                        <td>{{hist.HistoryDate | transformDate}}</td>
                        <td>{{hist.Top}}</td>
                        <td>{{hist.Trousers}}</td>
                        <td>{{hist.Shoes}}</td>
                        <td><button (click)="deleteLog(hist)"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                </tbody>
            </table>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>